
h1{
    border-bottom:dotted 15px orange;
}
h2{
    background-color:rgba(243, 238, 2, 0.782);
}
h3{
    font-style:italic;
}
body{
    background:linear-gradient(to right,white,rgb(253, 69, 69));
}
div#zentai{
    display:flex;
    flex-direction: column;
    background-color:yellow;
    grid-gap:10px;

}
div#zentai > div {
	padding-left: 20px;
    
}
